@import url('https://fonts.googleapis.com/css?family=Open+Sans|Saira+Extra+Condensed');

html, body {
    margin: 0;
    scroll-behavior: smooth;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}

/* Section Properties */
section {
    min-height: 100vh;
    margin-left: 20%;
}
.content-top {
    top: 28vh;
}
.content-padding {
    position: relative;
    padding: 0 5vw 0 1vw;
}

/* Font Properties */
.main {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5rem;
    color: #5d6369;
}
.title {
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
}
.section-title {
    font-size: 4rem;
}
.item-title {
    font-size: 1.8rem;
}
.item-subtitle {
    font-size: 1.4rem;
    font-weight: 500;
    color: #5d6369;
}

/* Item Properties */
.item-wrapper {
    display: flex;
    margin-bottom: 7vh;
}
.item {
    display: block;
    width: 70%;
}
.item-right {
    display: block;
    width: 30%;
}
.item-date {
    margin-top: 8px;
}
.align-right {
    text-align: right;
}
/* Bulleted List Properties */
.list {
  display: flex;
  flex-direction: column;
}
.list-item {
  margin-left: 10px;
}
.indent {
  display: inline-block;
  margin: 0 0 0 10px;
}

/* Colors */
.red {
    color: #D30000;
}
.grey {
    color: #5d6369;
}

/* Navigation ----------------------------------------------- */
.nav {
    width: 18%;
    height: 100%;
    background-color: #000000;
    position: fixed; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.nav a {
    color: #777777;
    font-family: 'Segoe UI', sans-serif;
    text-transform: uppercase;
    display: block;
    padding: 10px;
    margin-right: 40px;
}

.nav a:hover {
    color: rgb(228, 228, 228);
}

.nav a:active, .nav a:focus-within {
    color: #ffffff;
}

.rounded-img {
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    border: .5rem solid rgba(255,255,255,.2);
}

/* About ---------------------------------------------------- */
/* Experience ----------------------------------------------- */
/* Education ------------------------------------------------ */
/* Skills --------------------------------------------------- */
.skill-icons {
  display: flex;
  margin-top: 5vh;
  margin-bottom: 8vh;
}
.icons {
  display: block;
  position: relative;
  flex-direction: row;
  margin-left: 75px;
}
.no-margin-left {
    margin-left: -1vw;
}
.skill-icon {
    font-size: 3.5rem;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
}
#diamond {
    font-size: 3rem;
}
/* Interests ------------------------------------------------ */
/* Awards --------------------------------------------------- */
